lab07/Rest/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    BUILDING*,
    OWNER*)>

<!ELEMENT BUILDING EMPTY>
<!ATTLIST BUILDING
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    FLOORAREA CDATA #REQUIRED
    IDOWNER CDATA #IMPLIED
>

<!ELEMENT OWNER EMPTY>
<!ATTLIST OWNER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

